NODE_ENV=dummy
MONGO_URI=dummy
JWT_SECRET=dummy
PORT=dummy
GOOGLE_CLIENT_ID=dummy
CLOUDINARY_CLOUD_NAME=dummy
CLOUDINARY_API_KEY=dummy
CLOUDINARY_API_SECRET=dummy
CLOUDINARY_FOLDER=dummy
BACKEND_URL=dummy